<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueboard.domains.chat.mapper.ChatMapper">
	<insert id="insertChat">
		INSERT INTO TB_CHAT(CHAT_ID, MEMBER_ID, NAME, MESSAGE, SEND_TIME)
		VALUES(VUEBOARD.SEQ_CHAT.NEXTVAL, #{memberId}, #{name}, #{message},
		SYSTIMESTAMP)

	</insert>

</mapper>