<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.vueboard.domains.image.mapper.ImageUploadMapper">

	<!-- 업로드 시 imageId 자동생성 -->
	<select id="nextTempImageId" resultType="long">
		SELECT
		SEQ_TEMP_IMAGE.NEXTVAL FROM DUAL
	</select>

	<!-- 업로드 이미지 저장 -->
	<insert id="insert"
		parameterType="com.vueboard.domains.image.entity.UploadedTempImage">
		INSERT INTO TB_TEMP_IMAGE (
		TEMP_IMAGE_ID,
		ORIGINAL_NAME,
		STORED_NAME,
		IMAGE_URL,
		FILE_SIZE,
		CREATED_AT
		) VALUES (
		#{tempImgId},
		#{originalName},
		#{storedName},
		#{imageUrl},
		#{fileSize},
		SYSTIMESTAMP
		)
	</insert>

	<!--imageUrl 기준 업로드된 이미지 조회 -->
	<select id="findByImageUrls" parameterType="list"
		resultType="com.vueboard.domains.image.entity.UploadedTempImage">
		SELECT *
		FROM TB_TEMP_IMAGE
		WHERE IMAGE_URL IN
		<foreach collection="list" item="url" open="(" close=")"
			separator=",">
			#{url}
		</foreach>

	</select>

</mapper>
