<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.vueboard.domains.kanban.mapper.KanbanCardMapper">
	<!--KanbanColumn, Card 전체 조회 -->
	<select id="findByBoardId" parameterType="java.lang.String"
		resultType="com.vueboard.domains.kanban.dto.KanbanColumnDTO">
		SELECT A.COLUMN_ID AS columnId, A.COLUMN_NAME AS
		columnName, B.ORDER_NUM AS orderNum, C.CARD_ID AS cardId, B.TITLE AS
		title, C.CARD_INFO AS cardInfo, B.CREATED_AT AS createdAt,
		B.UPDATED_AT AS updatedAt, D.PREDICTED_START_DATE AS predictedStartDate, D.PREDICTED_END_DATE AS predictedEndDate
		FROM
		TB_KANBAN_COLUMN A
		JOIN TB_KANBAN_CARD B
		ON A.COLUMN_ID = B.COLUMN_ID
		JOIN TB_KANBAN_CARD_INFO C
		ON B.CARD_ID =
		C.CARD_ID
		JOIN TB_KANBAN_CARD_SCHEDULE D
        ON B.CARD_ID = D.CARD_ID
		WHERE A.BOARD_ID =
		#{boardId}
		ORDER BY A.COLUMN_ID ASC,
		B.ORDER_NUM ASC, B.CARD_ID ASC
	</select>

	<!--Card insert -->
	<!-- 1단계: columnId 조회 -->
	<select id="findColumnId" resultType="long">
		SELECT COLUMN_ID
		FROM
		TB_KANBAN_COLUMN
		WHERE BOARD_ID = #{boardId}
		AND COLUMN_NAME =
		#{columnName}
	</select>

	<!-- 2단계: orderNum 계산 (없으면 0부터 시작) -->
	<select id="nextOrderNum" parameterType="long" resultType="long">
		SELECT NVL(MAX(ORDER_NUM), -1) + 1
		FROM TB_KANBAN_CARD
		WHERE
		COLUMN_ID =
		#{columnId}
	</select>

	<!-- 3단계: 시퀀스에서 cardId 가져오기 -->
	<select id="nextCardId" resultType="long">
		SELECT
		seq_kanban_cards.NEXTVAL
		FROM dual
	</select>

	<!-- 3단계: TB_KANBAN_CARD insert -->
	<insert id="insertKanbanCard"
		parameterType="com.vueboard.domains.kanban.entity.KanbanCard">
		INSERT INTO TB_KANBAN_CARD(CARD_ID, COLUMN_ID, TITLE,
		ORDER_NUM, CREATED_AT, UPDATED_AT)
		VALUES(
		#{cardId},
		#{columnId},
		#{title},
		#{orderNum},
		SYSDATE,
		SYSDATE
		)
	</insert>

	<!-- 4단계: TB_KANBAN_CARD_INFO insert -->
	<insert id="insertKanbanCardInfo">
		INSERT INTO TB_KANBAN_CARD_INFO(CARD_ID, CARD_INFO)
		VALUES(
		#{cardId},
		#{cardInfo}
		)
	</insert>

	<!-- COLUMN_ID 존재 여부 검증 -->
	<select id="existsColumnId" resultType="int">
		SELECT COUNT(1) FROM
		TB_KANBAN_COLUMN WHERE COLUMN_ID = #{columnId}
	</select>

	<!-- TB_KANBAN_CARD UPDATE -->
	<update id="updateKanbanCard"
		parameterType="com.vueboard.domains.kanban.entity.KanbanCard">
		UPDATE TB_KANBAN_CARD
		SET
		COLUMN_ID = #{columnId},
		TITLE =
		#{title},
		ORDER_NUM = #{orderNum},
		UPDATED_AT = SYSDATE
		WHERE CARD_ID =
		#{cardId}
	</update>
	<!-- TB_KANBAN_CARD_INFO UPDATE -->
	<update id="updateKanbanCardInfo"
		parameterType="com.vueboard.domains.kanban.entity.KanbanCard"> UPDATE TB_KANBAN_CARD_INFO SET CARD_INFO = #{cardInfo}
		WHERE CARD_ID = #{cardId}
	</update>

	<!-- TB_KANBAN_CARD_SCHEDULE INSERT -->
	<insert id="insertKanbanCardSchedule"
		parameterType="com.vueboard.domains.kanban.dto.CreateCardScheduleRequestDTO"> INSERT INTO TB_KANBAN_CARD_SCHEDULE(CARD_ID,
		PREDICTED_START_DATE, PREDICTED_END_DATE)
		VALUES(
		#{cardId},
		#{predictedStartDate},
		#{predictedEndDate}
		)
	</insert>
	<!-- TB_KANBAN_CARD REORDER (단건 업데이트) -->
	<update id="reorderKanbanCard"
		parameterType="com.vueboard.domains.kanban.entity.KanbanCard">
		UPDATE TB_KANBAN_CARD
		SET
		COLUMN_ID = #{card.columnId},
		ORDER_NUM = #{card.orderNum},
		UPDATED_AT = SYSDATE
		WHERE CARD_ID = #{card.cardId}
	</update>

	<!-- TB_KANBAN_CARD_INFO DELETE -->
	<delete id="deleteKanbanCardInfo" parameterType="long">
		DELETE FROM
		TB_KANBAN_CARD_INFO WHERE CARD_ID = #{cardId}
	</delete>

	<!-- TB_KANBAN_CARD DELETE -->
	<delete id="deleteKanbanCard" parameterType="long">
		DELETE FROM
		TB_KANBAN_CARD WHERE CARD_ID = #{cardId}
	</delete>

</mapper>