<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vueboard.mapper.UserMapper">

    <!-- 로그인 쿼리 -->
    <select id="login" resultType="com.vueboard.entity.User">
        SELECT 
        	PN,
            MEMBER_ID AS memberId,
            PASSWORD,
            NAME,
            EMAIL,
            REGDATE
        FROM TB_MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND PASSWORD = #{password}
    </select>

</mapper>